!
hostname bgpd
password zebra
log file /var/log/quagga/bgpd.log
!

!-- bgp router has AS 300
router bgp 300

 !-- router ip
 bgp router-id 172.17.0.4

 !--- 'network' are routes owned by the bgp router. Inside the AS
 network 3.3.3.0/24

 !-- bgp peer router 172.17.0.2 with AS 100
 neighbor 172.17.0.2 remote-as 100

end